.slider {
    width: 100%;
    overflow: hidden;
    &-container {
        width: 300%;
        background-color: lightblue;
        height: 100px;
        overflow: visible;
        position: relative;
    }
    &-visible {
        width: auto;
        background: transparent;
        position: absolute;
    }
    &-item {
        // transition: left 0.1s;
        padding: 0 30px;
        position: absolute;
        // left: 0;
        width: auto;
        display: inline-flex;
    }
}
